ResumeAIAnalyzer/Preview Content/Preview Assets.xcassets/Contents.json
ResumeAIAnalyzer/Assets.xcassets/AppIcon.appiconset/Contents.json
ResumeAIAnalyzer/Assets.xcassets/AccentColor.colorset/Contents.json
ResumeAIAnalyzer/Assets.xcassets/Contents.json
ResumeAIAnalyzer.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ResumeAIAnalyzer.xcodeproj/project.pbxproj
